/* app-streamers-details Component */
:host {
    position:fixed;
    left:0;
    right:0;
    margin-left:300px;
    background-color:rgba(0, 0, 0, .5);
    height: 100vh;
    overflow-y: auto;
    overflow-x:hidden;
    z-index:1001;
}
.streamer-details {
    display: flex;
    flex-flow: column;
    min-height: calc(100vh + 250px);
} .streamer-details > .streamer-header {
    position:relative;
    display:flex;
    min-height:250px;
    align-items:center;
    justify-content:start;
} .streamer-details > .streamer-header:before {
    position:absolute;
    top: 0; /*  Otherwise IE is unhappy */
    content: " ";
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.8);
} .streamer-details > .streamer-header > * {
    z-index:1002;
} .streamer-details > .streamer-header > .streamer-logo {
    width:250px;
    height:250px;
    flex: 0 0 250px;
    background-color:#fff;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top;
} .streamer-details > .streamer-header > .streamer-infos {
    text-align:left;
} .streamer-details > .streamer-header > .streamer-infos > .streamer-title {
    color:#fff;
    font-size:5em;
    margin:0 0 0 10px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
} .streamer-details > .streamer-header > .streamer-infos > .streamer-bio {
    color:#ccc;
    font-size:1.5em;
    font-weight:100;
    margin:0 0 0 10px;
    padding: 0 0 0 5px;
}
.streamer-details > .streamer-body {
    display: flex;
    width:100%;
    height:100vh; /*  Otherwise IE is unhappy */
} .streamer-details > .streamer-body > .streamer-player {
    width:100%;
    height:100%;
    border:0;
}

@media screen and (max-width: 992px) {
    :host {
        margin-left: 0;
        height: calc(100vh - 59px);
    }
    .streamer-details {
        min-height: calc(100vh + 250px - 59px);
    } .streamer-details > .streamer-body {
        height:calc(100vh - 59px); /*  Otherwise IE is unhappy */
    }    
}
@media screen and (max-width:768px) {

}
@media screen and (max-width:576px) {

}