/* app-streamers-details Component */
:host {
    display:flex;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index:1000;
    margin-left:300px;
    min-height:100vh;
    background-color:rgba(0, 0, 0, 0.5);
}
/* Text sizes */
span {
    font-size:.9em;
}
/* Icons */
.icon:before {
    font-size: 1.3em;
    margin-right: 5px;
    font-family: "Material Design Icons";
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
} .icon.views:before {
    content: "\F50D";
} .icon.creation:before {
    content: "\F0ED";
} .icon.viewers:before {
    content: "\F009";
} .icon.uptime:before {
    content: "\F51A";
}

.streamer-details-container {
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    align-self:flex-start;
}
.streamer-details {
    position:relative;
    display:flex;
    width: 100%;
    align-self: flex-start;
    box-shadow: 8px 0 10px 5px rgba(0, 0, 0, 0.5);
} .streamer-details:before {
    position:absolute;
    top: 0; /*  Otherwise IE is unhappy */
    left:0;
    content: " ";
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.9);
    z-index:0;
} .streamer-details > .streamer-stuff {
    display:flex;
    flex: 1 1 auto;
    align-items:center;
    text-align:left;
} .streamer-details > .streamer-stuff {
    position:relative;
    z-index:2;
} .streamer-details > .streamer-stuff > .streamer-logo {
    width:250px;
    height:250px;
    flex: 0 0 250px;
    background-color:#fff;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top;
} .streamer-details > .streamer-stuff > .streamer-infos > .streamer-title,
  .streamer-details > .streamer-stuff > .streamer-infos > .streamer-numbers,
  .streamer-details > .streamer-stuff > .streamer-infos > .streamer-bio {
    margin:0 0 0 10px;
} .streamer-details > .streamer-stuff > .streamer-infos > .streamer-title > a {
    color:#fff;
} .streamer-details > .streamer-stuff > .streamer-infos > .streamer-title > a:hover {
    color:gainsboro;
} .streamer-details > .streamer-stuff > .streamer-infos > .streamer-numbers {
    display:inline-flex;
    align-items:center;
    color: #fff;
    padding: .4em 1em .4em 0;
} .streamer-details > .streamer-stuff > .streamer-infos > .streamer-bio {
    color:#ccc;
}
.streamer-watch {
    position:relative;
    z-index:-1;
    display:flex;
    align-items:center;
    text-align:left;
    background-color:rgba(0, 0, 0, 0.8);
} .streamer-watch > .streamer-game-cover {
    width:70px;
    height:100px;
    flex: 0 0 70px;
    background-color:#fff;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top;
} .streamer-watch > .streamer-game > .streamer-game-status,
  .streamer-watch > .streamer-game > .streamer-game-title,
  .streamer-watch > .streamer-game > .streamer-game-numbers {
    margin:0 0 0 10px;
} .streamer-watch > .streamer-game > .streamer-game-numbers {
    display:inline-flex;
    align-items:center;
    color: #fff;
    padding: .4em 1em .4em 0;
} .streamer-watch > .streamer-game > .streamer-game-title {
    color: #fff;
} .streamer-watch > .streamer-game > .streamer-game-status {
    color: #ccc;
    padding-left:2px;
}


.streamer-details > .streamer-watch > .streamer-player {
    display: flex;
    flex:1 1 100%;
} .streamer-details > .streamer-watch > .streamer-player > iframe {
    width:100%;
    height:100%;
    border:0;
}

@media screen and (max-width: 992px) {
    :host {
        margin-left:0px;
    } 
}
@media screen and (max-width:768px) {

}
@media screen and (max-width:576px) {

}